.well-ds {
    background-color: #eee;
    border-radius: 4px;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 30px;
}

.signin-card {
	padding: 40px;
    width: 274px;
    height: 345px;
    overflow: hidden;
    position: relative;
}

.card {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    margin: 0 auto 25px;
    padding: 20px 25px 30px;
    width: 380px;
    margin-bottom: 20px;
}

.center {
	text-align: center;
}

.fieldset-login {
	margin-top: 50px;
}